.section-title-contact {
    text-align: center;
    line-height: 80px;
}

.description-main-contact {
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
}

.content-contact {
    display: flex;
    padding: 60px 0;
}

.cards-contacts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 320px);
    gap: 20px;
}

.contact {
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: .5rem;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-contact {
    margin-bottom: 20px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form div{
    min-width: 90%;
}

form div label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

form div input, form div textarea {
    width: 100%;
    height: 40px;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
    outline: none;
    padding-left: 10px;
}

form button {
    background-color: rebeccapurple;
    padding: 10px 60px;
    border: 0;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
} 

form div textarea {
    height: 80px;
    padding-top: 10px;
    font-size: 1rem;
}