@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem ;
    height: 60px;
    margin: 0 auto;
    font-family: Jomolhari;
}

.logo {
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

.favoritos, .home {
    cursor: pointer;
    color: #fff;
    padding: 5px 14px;
    text-decoration: none;
    border-radius: 4px;
}

.favoritos:hover, .home:hover, .logo:hover{
    color: #00EED0;
    transition: all 2s;
}