* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  
}

body {
  max-width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #040203, #140011, #1a001d, #18032c, #010a3d);
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}